<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @customer.fullname %>
</p>

<p>
  <strong>Customer number:</strong>
  <%= @customer.customer_number %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @customer.mobile_no %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @customer.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>


<p>
  <strong>Date:</strong>
  <%= @customer.date %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @customer.payment_mode %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.status %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @customer.pincode %>
</p>

<%= link_to 'Back', customers_path %>
