  <div class="box-inner">
    <div class="box-header well">
      <h2>Customer Profile</h2>
    </div>

    <div class="box-content">
    <fieldset>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="form-group">
  <div class="col-md-4">
  <strong>Customer Number:</strong>
  <%= @customer.customer_number %>
</div>

  <div class="col-md-4">
  <strong>Fullname:</strong>
  <%= @customer.fullname %>
</div>

  <div class="col-md-4">
  <strong>Mobile no:</strong>
  <%= @customer.mobile_no %>
</div>

  <div class="col-md-4">
  <strong>Phone no:</strong>
  <%= @customer.phone_no %>
</div>

  <div class="col-md-4">
  <strong>Email:</strong>
  <%= @customer.email %>
</div>

  <div class="col-md-4">
  <strong>Kyc:</strong>
  <%= @customer.kyc %>
</div>

  <div class="col-md-4">
  <strong>Date:</strong>
  <%= @customer.date %>
</div>

  <div class="col-md-4">
  <strong>Payment mode:</strong>
  <%= @customer.payment_mode %>
</div>

  <div class="col-md-4">
  <strong>Plan:</strong>
  <%= @customer.plan.plan_name %>
</div>


  <div class="col-md-4">
  <strong>Plan Price:</strong>
  <%= @customer.plan.plan_price %>
</div>

</fieldset>
</table>
 </fieldset>
 </div>
 </div>
 </div>
 </div>


 <br>

 <% payment_form_for_payu 'gtKFFx ', 'eCwWELxi',
            :txnid => 'lkwqepkl wqe',
            :amount => @customer.plan.plan_price.to_s,
            :productinfo => 'Fees Payment',
            :firstname => @customer_fullname,
            :email => @customer.email,
            :phone =>  @customer.phone_no,
            :surl => 'http://' + 'localhost' + ':3000/payu_callback',
            :furl => 'http://' + "localhost" + ':3000/payu_callback',
            :html => { :id => 'payment-form' } %>